// _body.scss


html {
  box-sizing: border-box;
  height:100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #fff;
  font-family: $font-default;
  font-weight:normal;
  color: #000;
  margin:0;
  //min-width: 1080px;
  height: 100%;
  overflow-x: hidden;
  
  -moz-osx-font-smoothing: grayscale; 
   -webkit-font-smoothing: antialiased;
           font-smoothing: antialiased;

  &.body--signup {
    background-color: $color-primary;
  }
}


/**
 * Anchor
 */
a { 
  text-decoration: none; 
  color: inherit;
  
  /* Transition */
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}


/**
 * Headers
 */
h1,h2,h3,h4,h5,h6 {  
  line-height: 1;
  margin: 0;

}

h1, .h1, %h1 {

}

h2, .h2, %h2 {

}

h3, .h3, %h3 {

}

h4, .h4, %h4 {

}

h5, .h5, %h5 {

}

h6, .h6, %h6 {

}

p {

}






/**
 * Misc Typography
 */
cite {
  font-size: 13px;
  font-weight: medium;
  font-family: $font-serif;
  font-style: italic;
}

small { 
  // display:inline-block;
  font-size:13px;
  text-transform: uppercase;
  color: #2d353b;

  &.alt {  }
}
em { font-style: italic; }
strong { font-weight: bold; }


ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    margin:0;
    padding:0;
  }
}

figure {
  margin:0;
  padding:0;
  display: block;
}


/**
 * Tables
 */
table {
  
  thead {}

  tbody {

  }

  td, th {
    border: none;
    padding: 10px;
  }
}