/**
 * Components 
 *
 * @note - use this rather than components.min.css to maintain relative paths
 */
@import url(../components/font-awesome/css/font-awesome.min.css);
/**
 * Functions & Mixins 
 */
/**
 * Clearfix
 */
/**
 * Media
 * 
 * @param  {Integer} $screen 
 */
/**
 * Config 
 */
/**
 * Font Family
 */
/**
 * Colors
 */
/**
 * Breakpoints
 */
/**
 * Transitions
 */
/** 
 * Libraries
 */
/* _grid.scss */
/**
 * Grid Config
 */
/**
 * Container
 */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1000px;
}

.container--full {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

.container--full-padded {
  max-width: none;
  width: 100%;
}

.container--large {
  max-width: 1200px;
}

.container--med {
  max-width: 890px;
}

.container--small {
  max-width: 680px;
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
  .container--large {
    padding: 0 50px;
  }
}
/**
 * Row
 */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row--gutters {
  margin-left: -15px;
  margin-right: -15px;
}
.row--gutters:after {
  content: "";
  display: table;
  clear: both;
}
.row--gutters *[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.row--content {
  margin-bottom: 20px;
}

.row--padded {
  padding: 0 50px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

/**
 * Columns
 */
.col-1 {
  width: 8.33333%;
  float: left;
}

.col-push-1 {
  position: relative;
  left: 8.33333%;
}

.col-pull-1 {
  position: relative;
  right: 8.33333%;
}

.col-2 {
  width: 16.66667%;
  float: left;
}

.col-push-2 {
  position: relative;
  left: 16.66667%;
}

.col-pull-2 {
  position: relative;
  right: 16.66667%;
}

.col-3 {
  width: 25%;
  float: left;
}

.col-push-3 {
  position: relative;
  left: 25%;
}

.col-pull-3 {
  position: relative;
  right: 25%;
}

.col-4 {
  width: 33.33333%;
  float: left;
}

.col-push-4 {
  position: relative;
  left: 33.33333%;
}

.col-pull-4 {
  position: relative;
  right: 33.33333%;
}

.col-5 {
  width: 41.66667%;
  float: left;
}

.col-push-5 {
  position: relative;
  left: 41.66667%;
}

.col-pull-5 {
  position: relative;
  right: 41.66667%;
}

.col-6 {
  width: 50%;
  float: left;
}

.col-push-6 {
  position: relative;
  left: 50%;
}

.col-pull-6 {
  position: relative;
  right: 50%;
}

.col-7 {
  width: 58.33333%;
  float: left;
}

.col-push-7 {
  position: relative;
  left: 58.33333%;
}

.col-pull-7 {
  position: relative;
  right: 58.33333%;
}

.col-8 {
  width: 66.66667%;
  float: left;
}

.col-push-8 {
  position: relative;
  left: 66.66667%;
}

.col-pull-8 {
  position: relative;
  right: 66.66667%;
}

.col-9 {
  width: 75%;
  float: left;
}

.col-push-9 {
  position: relative;
  left: 75%;
}

.col-pull-9 {
  position: relative;
  right: 75%;
}

.col-10 {
  width: 83.33333%;
  float: left;
}

.col-push-10 {
  position: relative;
  left: 83.33333%;
}

.col-pull-10 {
  position: relative;
  right: 83.33333%;
}

.col-11 {
  width: 91.66667%;
  float: left;
}

.col-push-11 {
  position: relative;
  left: 91.66667%;
}

.col-pull-11 {
  position: relative;
  right: 91.66667%;
}

.col-12 {
  width: 100%;
  float: left;
}

.col-push-12 {
  position: relative;
  left: 100%;
}

.col-pull-12 {
  position: relative;
  right: 100%;
}

.col-1-5 {
  float: left;
  width: 20%;
}

.col--half:first-child {
  padding-right: 40px;
}
.col--half:last-child {
  padding-left: 40px;
}

.col-table {
  display: table !important;
}

/**
 * Media Queries
 */
@media screen and (max-width: 767px) {
  .col-1 {
    width: 100%;
    float: left;
  }

  .col-push-1 {
    left: auto;
  }

  .col-pull-1 {
    right: auto;
  }

  .col-2 {
    width: 100%;
    float: left;
  }

  .col-push-2 {
    left: auto;
  }

  .col-pull-2 {
    right: auto;
  }

  .col-3 {
    width: 100%;
    float: left;
  }

  .col-push-3 {
    left: auto;
  }

  .col-pull-3 {
    right: auto;
  }

  .col-4 {
    width: 100%;
    float: left;
  }

  .col-push-4 {
    left: auto;
  }

  .col-pull-4 {
    right: auto;
  }

  .col-5 {
    width: 100%;
    float: left;
  }

  .col-push-5 {
    left: auto;
  }

  .col-pull-5 {
    right: auto;
  }

  .col-6 {
    width: 100%;
    float: left;
  }

  .col-push-6 {
    left: auto;
  }

  .col-pull-6 {
    right: auto;
  }

  .col-7 {
    width: 100%;
    float: left;
  }

  .col-push-7 {
    left: auto;
  }

  .col-pull-7 {
    right: auto;
  }

  .col-8 {
    width: 100%;
    float: left;
  }

  .col-push-8 {
    left: auto;
  }

  .col-pull-8 {
    right: auto;
  }

  .col-9 {
    width: 100%;
    float: left;
  }

  .col-push-9 {
    left: auto;
  }

  .col-pull-9 {
    right: auto;
  }

  .col-10 {
    width: 100%;
    float: left;
  }

  .col-push-10 {
    left: auto;
  }

  .col-pull-10 {
    right: auto;
  }

  .col-11 {
    width: 100%;
    float: left;
  }

  .col-push-11 {
    left: auto;
  }

  .col-pull-11 {
    right: auto;
  }

  .col-12 {
    width: 100%;
    float: left;
  }

  .col-push-12 {
    left: auto;
  }

  .col-pull-12 {
    right: auto;
  }
}
/**
 * Flexbox
 */
.row--flex {
  display: flex;
  flex-wrap: wrap;
}

/**
 * Modules - Core
 */
/* _helpers.scss */
/**
 * Hide/Show
 */
.hidden {
  display: none !important;
}

/**
 * Positioning
 */
.rel {
  position: relative !important;
}

/*
 * Vertical centering
 */
.vert-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/**
 * Colors
 */
.color-primary {
  color: #4ac2be;
}

.color-secondary {
  color: #ffca61;
}

.white {
  color: #fff;
}

.white-transparent {
  color: rgba(255, 255, 255, 0.8);
}

.gray {
  color: #2b2e33;
}

.text-gray {
  color: #2b2e33;
}

.text-color-default {
  color: #262729;
}

.text-color-light {
  color: #595a5c;
}

/**
 * Borders
 */
.border-primary {
  border-color: #4ac2be;
}

.border-secondary {
  border-color: #ffca61;
}

/**
 * Font Extension Classes
 *
 * Weights
 * Styles
 * Families
 * Decoration
 * Sizes
 */
.light-cond {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: normal;
}

.semibold {
  font-weight: 600;
}

.medium {
  font-weight: 600;
}

.black {
  font-weight: 800;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase;
}

.lowercase {
  text-transform: none;
}

.underline {
  text-decoration: underline;
}

.serif {
  font-family: "ff-meta-serif-web-pro", "Georgia", Georgia, serif;
}

.small {
  font-size: 15px;
}

.tiny {
  font-size: 12px;
}

/**
 * Display
 */
.center {
  margin: 0 auto;
  float: none !important;
}

.table {
  display: table !important;
  height: 100%;
  width: 100%;
}

.table--full {
  width: 100%;
}

.table-cell {
  display: table-cell !important;
  vertical-align: middle;
}

.block {
  display: block;
}

.block--full {
  display: block;
  width: 100%;
  height: 100%;
}

.anchor--full {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.toggle {
  cursor: pointer;
}

/**
 * Backgrounds
 */
.bg--centered {
  background-size: auto auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.bg--cover {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.bg--white {
  background-color: white;
}

.bg--offwhite {
  background-color: #f0f0f0;
}

.bg--primary {
  background-color: #4ac2be;
}

.bg--secondary {
  background-color: #ffca61;
}

.bg--dark {
  background-color: #12151a;
}

.bg--gray {
  background-color: #2b2e33;
}

.bg-image--bottom_right {
  position: relative;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.bg-image--top_right {
  position: relative;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

/**
 * Text Alignment
 */
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-links a {
  text-decoration: underline;
  color: inherit;
}

.text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

/**
 * Lists
 */
.list-inline {
  display: inline-block;
}
.list-inline li {
  position: relative;
  display: inline-block;
}
.list-inline.list-inline--has_divider li:before {
  position: relative;
  top: -1px;
  content: '|';
  padding: 0 5px;
}
.list-inline.list-inline--has_divider li:first-child:before {
  display: none;
}

.list-icons {
  margin: 0;
  width: 100%;
}
.list-icons li {
  position: relative;
  padding-left: 60px;
  color: white;
  margin-bottom: 15px;
}
.list-icons li .fa {
  position: absolute;
  top: 5px;
  left: 0;
  width: 44px;
  text-align: center;
  font-size: 30px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Floats
 */
.float-left, .pull-left {
  float: left !important;
}

.float-right, .pull-right {
  float: right !important;
}

.baseline {
  margin: 0;
  padding: 0;
  line-height: 1;
}

/**
 * Generate Padding/Margin Helpers
 */
.m0 {
  margin: 0px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.p0 {
  padding: 0px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.m10 {
  margin: 10px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.p10 {
  padding: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.m20 {
  margin: 20px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.p20 {
  padding: 20px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.m30 {
  margin: 30px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.p30 {
  padding: 30px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.m40 {
  margin: 40px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.p40 {
  padding: 40px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.m50 {
  margin: 50px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.p50 {
  padding: 50px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.m60 {
  margin: 60px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.p60 {
  padding: 60px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.pl60 {
  padding-left: 60px !important;
}

.m70 {
  margin: 70px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.p70 {
  padding: 70px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.pr70 {
  padding-right: 70px !important;
}

.pb70 {
  padding-bottom: 70px !important;
}

.pl70 {
  padding-left: 70px !important;
}

.m80 {
  margin: 80px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.p80 {
  padding: 80px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.pr80 {
  padding-right: 80px !important;
}

.pb80 {
  padding-bottom: 80px !important;
}

.pl80 {
  padding-left: 80px !important;
}

.m90 {
  margin: 90px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.ml90 {
  margin-left: 90px !important;
}

.p90 {
  padding: 90px !important;
}

.pt90 {
  padding-top: 90px !important;
}

.pr90 {
  padding-right: 90px !important;
}

.pb90 {
  padding-bottom: 90px !important;
}

.pl90 {
  padding-left: 90px !important;
}

.m100 {
  margin: 100px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mr100 {
  margin-right: 100px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.ml100 {
  margin-left: 100px !important;
}

.p100 {
  padding: 100px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pr100 {
  padding-right: 100px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.pl100 {
  padding-left: 100px !important;
}

.m110 {
  margin: 110px !important;
}

.mt110 {
  margin-top: 110px !important;
}

.mr110 {
  margin-right: 110px !important;
}

.mb110 {
  margin-bottom: 110px !important;
}

.ml110 {
  margin-left: 110px !important;
}

.p110 {
  padding: 110px !important;
}

.pt110 {
  padding-top: 110px !important;
}

.pr110 {
  padding-right: 110px !important;
}

.pb110 {
  padding-bottom: 110px !important;
}

.pl110 {
  padding-left: 110px !important;
}

.m120 {
  margin: 120px !important;
}

.mt120 {
  margin-top: 120px !important;
}

.mr120 {
  margin-right: 120px !important;
}

.mb120 {
  margin-bottom: 120px !important;
}

.ml120 {
  margin-left: 120px !important;
}

.p120 {
  padding: 120px !important;
}

.pt120 {
  padding-top: 120px !important;
}

.pr120 {
  padding-right: 120px !important;
}

.pb120 {
  padding-bottom: 120px !important;
}

.pl120 {
  padding-left: 120px !important;
}

.m130 {
  margin: 130px !important;
}

.mt130 {
  margin-top: 130px !important;
}

.mr130 {
  margin-right: 130px !important;
}

.mb130 {
  margin-bottom: 130px !important;
}

.ml130 {
  margin-left: 130px !important;
}

.p130 {
  padding: 130px !important;
}

.pt130 {
  padding-top: 130px !important;
}

.pr130 {
  padding-right: 130px !important;
}

.pb130 {
  padding-bottom: 130px !important;
}

.pl130 {
  padding-left: 130px !important;
}

.m140 {
  margin: 140px !important;
}

.mt140 {
  margin-top: 140px !important;
}

.mr140 {
  margin-right: 140px !important;
}

.mb140 {
  margin-bottom: 140px !important;
}

.ml140 {
  margin-left: 140px !important;
}

.p140 {
  padding: 140px !important;
}

.pt140 {
  padding-top: 140px !important;
}

.pr140 {
  padding-right: 140px !important;
}

.pb140 {
  padding-bottom: 140px !important;
}

.pl140 {
  padding-left: 140px !important;
}

.m150 {
  margin: 150px !important;
}

.mt150 {
  margin-top: 150px !important;
}

.mr150 {
  margin-right: 150px !important;
}

.mb150 {
  margin-bottom: 150px !important;
}

.ml150 {
  margin-left: 150px !important;
}

.p150 {
  padding: 150px !important;
}

.pt150 {
  padding-top: 150px !important;
}

.pr150 {
  padding-right: 150px !important;
}

.pb150 {
  padding-bottom: 150px !important;
}

.pl150 {
  padding-left: 150px !important;
}

@media screen and (max-device-width: 768px) {
  .mt50--mobile {
    margin-top: 50px;
  }

  .mb50--mobile {
    margin-top: 50px;
  }

  .mt30--mobile {
    margin-top: 30px;
  }

  .mb30--mobile {
    margin-top: 30px;
  }
}
/**
 * Generate Rotate Helpers
 */
.rotate0 {
  transform: rotate(0deg);
}

.rotate10 {
  transform: rotate(10deg);
}

.rotate20 {
  transform: rotate(20deg);
}

.rotate30 {
  transform: rotate(30deg);
}

.rotate40 {
  transform: rotate(40deg);
}

.rotate50 {
  transform: rotate(50deg);
}

.rotate60 {
  transform: rotate(60deg);
}

.rotate70 {
  transform: rotate(70deg);
}

.rotate80 {
  transform: rotate(80deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate100 {
  transform: rotate(100deg);
}

.rotate110 {
  transform: rotate(110deg);
}

.rotate120 {
  transform: rotate(120deg);
}

.rotate130 {
  transform: rotate(130deg);
}

.rotate140 {
  transform: rotate(140deg);
}

.rotate150 {
  transform: rotate(150deg);
}

.rotate160 {
  transform: rotate(160deg);
}

.rotate170 {
  transform: rotate(170deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate190 {
  transform: rotate(190deg);
}

.rotate200 {
  transform: rotate(200deg);
}

.rotate210 {
  transform: rotate(210deg);
}

.rotate220 {
  transform: rotate(220deg);
}

.rotate230 {
  transform: rotate(230deg);
}

.rotate240 {
  transform: rotate(240deg);
}

.rotate250 {
  transform: rotate(250deg);
}

.rotate260 {
  transform: rotate(260deg);
}

.rotate270 {
  transform: rotate(270deg);
}

.rotate280 {
  transform: rotate(280deg);
}

.rotate290 {
  transform: rotate(290deg);
}

.rotate300 {
  transform: rotate(300deg);
}

.rotate310 {
  transform: rotate(310deg);
}

.rotate320 {
  transform: rotate(320deg);
}

.rotate330 {
  transform: rotate(330deg);
}

.rotate340 {
  transform: rotate(340deg);
}

.rotate350 {
  transform: rotate(350deg);
}

.rotate360 {
  transform: rotate(360deg);
}

/**
 * Generate Letter Spacing Helpers Special Font
 */
.ls-0 {
  letter-spacing: -0px;
}

.ls-1 {
  letter-spacing: -1px;
}

.ls-2 {
  letter-spacing: -2px;
}

.ls-3 {
  letter-spacing: -3px;
}

.ls-4 {
  letter-spacing: -4px;
}

.ls-5 {
  letter-spacing: -5px;
}

.ls-6 {
  letter-spacing: -6px;
}

.ls-7 {
  letter-spacing: -7px;
}

.ls-8 {
  letter-spacing: -8px;
}

.ls-9 {
  letter-spacing: -9px;
}

.ls-10 {
  letter-spacing: -10px;
}

.invisible {
  visibility: hidden;
}

.o0 {
  opacity: 0;
}

/**
 * Generate Left/Right pull helpers
 */
.t0 {
  top: 0px !important;
}

.t-0 {
  top: -0px !important;
}

.r0 {
  right: 0px !important;
}

.r-0 {
  right: -0px !important;
}

.b0 {
  bottom: 0px !important;
}

.b-0 {
  bottom: -0px !important;
}

.l0 {
  left: 0px !important;
}

.l-0 {
  left: -0px !important;
}

.t5 {
  top: 5px !important;
}

.t-5 {
  top: -5px !important;
}

.r5 {
  right: 5px !important;
}

.r-5 {
  right: -5px !important;
}

.b5 {
  bottom: 5px !important;
}

.b-5 {
  bottom: -5px !important;
}

.l5 {
  left: 5px !important;
}

.l-5 {
  left: -5px !important;
}

.t10 {
  top: 10px !important;
}

.t-10 {
  top: -10px !important;
}

.r10 {
  right: 10px !important;
}

.r-10 {
  right: -10px !important;
}

.b10 {
  bottom: 10px !important;
}

.b-10 {
  bottom: -10px !important;
}

.l10 {
  left: 10px !important;
}

.l-10 {
  left: -10px !important;
}

.t15 {
  top: 15px !important;
}

.t-15 {
  top: -15px !important;
}

.r15 {
  right: 15px !important;
}

.r-15 {
  right: -15px !important;
}

.b15 {
  bottom: 15px !important;
}

.b-15 {
  bottom: -15px !important;
}

.l15 {
  left: 15px !important;
}

.l-15 {
  left: -15px !important;
}

.t20 {
  top: 20px !important;
}

.t-20 {
  top: -20px !important;
}

.r20 {
  right: 20px !important;
}

.r-20 {
  right: -20px !important;
}

.b20 {
  bottom: 20px !important;
}

.b-20 {
  bottom: -20px !important;
}

.l20 {
  left: 20px !important;
}

.l-20 {
  left: -20px !important;
}

.t25 {
  top: 25px !important;
}

.t-25 {
  top: -25px !important;
}

.r25 {
  right: 25px !important;
}

.r-25 {
  right: -25px !important;
}

.b25 {
  bottom: 25px !important;
}

.b-25 {
  bottom: -25px !important;
}

.l25 {
  left: 25px !important;
}

.l-25 {
  left: -25px !important;
}

.t30 {
  top: 30px !important;
}

.t-30 {
  top: -30px !important;
}

.r30 {
  right: 30px !important;
}

.r-30 {
  right: -30px !important;
}

.b30 {
  bottom: 30px !important;
}

.b-30 {
  bottom: -30px !important;
}

.l30 {
  left: 30px !important;
}

.l-30 {
  left: -30px !important;
}

.t35 {
  top: 35px !important;
}

.t-35 {
  top: -35px !important;
}

.r35 {
  right: 35px !important;
}

.r-35 {
  right: -35px !important;
}

.b35 {
  bottom: 35px !important;
}

.b-35 {
  bottom: -35px !important;
}

.l35 {
  left: 35px !important;
}

.l-35 {
  left: -35px !important;
}

.t40 {
  top: 40px !important;
}

.t-40 {
  top: -40px !important;
}

.r40 {
  right: 40px !important;
}

.r-40 {
  right: -40px !important;
}

.b40 {
  bottom: 40px !important;
}

.b-40 {
  bottom: -40px !important;
}

.l40 {
  left: 40px !important;
}

.l-40 {
  left: -40px !important;
}

.t45 {
  top: 45px !important;
}

.t-45 {
  top: -45px !important;
}

.r45 {
  right: 45px !important;
}

.r-45 {
  right: -45px !important;
}

.b45 {
  bottom: 45px !important;
}

.b-45 {
  bottom: -45px !important;
}

.l45 {
  left: 45px !important;
}

.l-45 {
  left: -45px !important;
}

.t50 {
  top: 50px !important;
}

.t-50 {
  top: -50px !important;
}

.r50 {
  right: 50px !important;
}

.r-50 {
  right: -50px !important;
}

.b50 {
  bottom: 50px !important;
}

.b-50 {
  bottom: -50px !important;
}

.l50 {
  left: 50px !important;
}

.l-50 {
  left: -50px !important;
}

/**
 * Z-Index
 */
.z0 {
  z-index: 0;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z5 {
  z-index: 5;
}

.z10 {
  z-index: 10;
}

/**
 * Line Height
 */
.lh1-1 {
  line-height: 1.1;
}

.lh1-2 {
  line-height: 1.2;
}

.lh1-3 {
  line-height: 1.3;
}

.lh1-4 {
  line-height: 1.4;
}

.lh1-5 {
  line-height: 1.5;
}

/**
 * No Select
 */
.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * Object Fit
 */
.object-fit--fill {
  -webkit-object-fit: fill;
  -moz-object-fit: fill;
  -ms-object-fit: fill;
  object-fit: fill;
}

.object-fit--contain {
  -webkit-object-fit: contain;
  -moz-object-fit: contain;
  -ms-object-fit: contain;
  object-fit: contain;
}

.object-fit--cover {
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
}

.object-fit--none {
  -webkit-object-fit: none;
  -moz-object-fit: none;
  -ms-object-fit: none;
  object-fit: none;
}

.object-fit--scale-down {
  -webkit-object-fit: scale-down;
  -moz-object-fit: scale-down;
  -ms-object-fit: scale-down;
  object-fit: scale-down;
}

/**
 * Font Awesome
 */
.fa-rel {
  position: relative;
}

.fa-circle-border {
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  color: inherit;
}

.fa-circular {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #4ac2be;
  color: white;
}

.fa-l {
  padding-right: 8px !important;
}

.fa-r {
  padding-left: 8px !important;
}

.fa-trans {
  opacity: 0.5;
}

.fa-nudge-tl {
  position: relative;
  top: 1px;
  left: 2px;
}

/**
 * TypeKit Font Flash Fix
 */
h1, h2, h3, h4, h5, h6, p, span, a, small, table, select, input, i, .faux-table div, label {
  opacity: 0;
  transition: opacity 0.20s ease-in;
}

.wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active h5, .wf-active h6, .wf-active p, .wf-active span, .wf-active a, .wf-active small, .wf-active table, .wf-active select, .wf-active input, .wf-active i, .wf-active .faux-table div, .wf-active label {
  opacity: 1;
}

/**
 * Chrome v33 "invisible text" fix
 */
body {
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.1s;
}

@-webkit-keyframes fontfix {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
/**
 * Modal Animations
 */
.modal {
  transition: all 250ms cubic-bezier(0.64, 0.09, 0.08, 1);
  transition-delay: 0;
  -webkit-transform: translate3d(-50%, -50%, 0%) scale3d(0.5, 0.5, 1);
  -ms-transform: translate3d(-50%, -50%, 0%) scale3d(0.5, 0.5, 1);
  transform: translate3d(-50%, -50%, 0%) scale3d(0.5, 0.5, 1);
  z-index: 0;
  visibility: hidden;
  opacity: 0;
}
.modal.show {
  z-index: 999999;
  visibility: visible;
  opacity: 1;
  transition-delay: 150ms;
  position: fixed;
  -webkit-transform: translate3d(-50%, -50%, 0%) scale3d(1, 1, 1);
  -ms-transform: translate3d(-50%, -50%, 0%) scale3d(1, 1, 1);
  transform: translate3d(-50%, -50%, 0%) scale3d(1, 1, 1);
}

/**
 * Modules - Components
 */
html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #000;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
body.body--signup {
  background-color: #4ac2be;
}

/**
 * Anchor
 */
a {
  text-decoration: none;
  color: inherit;
  /* Transition */
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}

/**
 * Headers
 */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #4ac2be;
}

h1, .h1 {
  font-size: 89px;
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h2, .h2 {
  font-size: 55px;
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h3, .h3 {
  font-size: 34px;
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.02px;
  font-weight: 500;
  line-height: 1;
}
h3.alt, .h3.alt {
  font-family: "ff-meta-serif-web-pro", "Georgia", Georgia, serif;
  text-transform: none;
  font-style: italic;
}

h4, .h4, h3.comment-reply-title {
  font-size: 24px;
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.72px;
}
h4.bold, .h4.bold, h3.bold.comment-reply-title {
  font-weight: 700;
  letter-spacing: 0;
}

h5, .h5 {
  font-size: 21px;
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

h6, .h6 {
  font-size: 16px;
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-family: "ff-meta-serif-web-pro", "Georgia", Georgia, serif;
  font-weight: 300;
  line-height: 1.3;
}

.content-rte ul, .content-rte li {
  font-size: 21px;
  line-height: 1.3;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  h1, .h1 {
    font-size: 40px;
  }

  h2, .h2 {
    font-size: 45px;
  }

  p {
    font-size: 18px;
    line-height: 1.4;
  }

  .content-rte ul, .content-rte li {
    font-size: 18px;
    line-height: 1.4;
  }
}
/**
 * Misc Typography
 */
cite {
  font-size: 13px;
  font-weight: medium;
  font-family: "ff-meta-serif-web-pro", "Georgia", Georgia, serif;
  font-style: italic;
}

small {
  font-size: 13px;
  text-transform: uppercase;
  color: #2d353b;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
  display: block;
}

/**
 * Tables
 */
table td, table th {
  border: none;
  padding: 10px;
}

hr {
  border-color: #d2d2d2;
  margin: 15px 0;
}

.menu li {
  display: inline-block;
}
.menu a {
  font-size: 18px;
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-weight: 700;
}
.menu.menu--transparent a {
  color: rgba(255, 255, 255, 0.5);
}
.menu.menu--transparent a:hover {
  color: #fff;
}

.menu--footer {
  text-align: left;
}
.menu--footer li {
  padding: 0 20px;
}
.menu--footer li:first-of-type {
  padding-left: 0;
}
.menu--footer a {
  color: #4ac2be;
}

/**
 * Social Menu
 */
.social-menu {
  text-align: center;
  margin: 25px 0 0;
}
.social-menu.social-menu--footer {
  text-align: right;
  margin: 0;
}
.social-menu.social-menu--footer .social-menu__item:last-of-type {
  margin-right: 0;
}

.social-menu__item {
  display: inline-block;
  margin: 0 20px;
}
.social-menu__item a {
  color: #4ac2be;
  font-size: 28px;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}
.social-menu__item a:hover {
  color: #39aaa6;
}

@media screen and (max-width: 767px) {
  .menu--footer {
    text-align: center;
    line-height: 28px;
  }
  .menu--footer li {
    padding: 0;
  }

  .social-menu.social-menu--footer {
    text-align: center;
    margin-top: 30px;
  }
  .social-menu.social-menu--footer .social-menu__item:last-of-type {
    margin-right: 20px;
  }
}
/**
 * Header Main
 */
.header {
  width: 100%;
  height: 100px;
  background-color: #2b2e33;
  z-index: 99;
  position: absolute;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.header .container {
  height: 100px;
  position: relative;
}
.header.header--hide {
  top: -100px;
  position: fixed;
}
.header.header--show {
  top: 0;
  left: 0;
  position: fixed;
}

.header__logo {
  width: 200px;
  left: 20px;
}

.header__menu {
  width: calc(100% - 200px);
  float: right;
  text-align: right;
  		/*
   		* Submenu
   		*/
}
.header__menu > ul > li {
  padding: 0 12px;
}
.header__menu > ul > li > a {
  display: inline-block;
  padding: 35px 0;
}
.header__menu > ul > li:last-of-type {
  padding-right: 0;
}
.header__menu > ul > li.menu-item-has-children {
  position: relative;
  padding-right: 40px;
}
.header__menu > ul > li.menu-item-has-children:after {
  content: '\f107';
  position: absolute;
  top: 50%;
  right: 25px;
  line-height: 1;
  font-family: "FontAwesome", FontAwesome;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header__menu ul.sub-menu {
  width: 125px;
  padding: 18px 13px;
  text-align: left;
  background-color: #000;
  color: #fff;
  position: absolute;
  left: 50%;
  z-index: 1;
  visibility: hidden;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  /* */
  opacity: 0;
  top: 100px;
  -webkit-transition: opacity 200ms ease-in-out,  top 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out,  top 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out,  top 200ms ease-in-out;
  transition: opacity 200ms ease-in-out,  top 200ms ease-in-out;
}
.header__menu ul.sub-menu:before {
  content: '';
  position: absolute;
  left: 50%;
  top: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid black;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
.header__menu ul.sub-menu li {
  display: block;
  line-height: 1;
}
.header__menu ul.sub-menu li a {
  font-size: 14px;
  display: block;
  line-height: 1;
}
.header__menu ul.sub-menu li + li {
  margin-top: 10px;
}
.header__menu li.menu-item-has-children:hover > ul.sub-menu {
  height: auto;
  opacity: 1;
  top: 75px;
  z-index: 99;
  visibility: visible;
}

/**
 * Header toggle
 */
.header__toggle {
  transition: .3s;
  cursor: pointer;
  user-select: none;
  background: transparent;
  border: none;
  padding: 8px 0;
  margin-right: 25px;
  margin-top: 18px;
  float: right;
  display: none;
}
.header__toggle:focus {
  outline: none;
}
.header__toggle:hover {
  opacity: 1;
}
.header__toggle:active {
  transition: 0;
}
.header__toggle .lines {
  display: inline-block;
  width: 30px;
  height: 4px;
  background: #4ac2be;
  transition: 0.3s;
  position: relative;
}
.header__toggle .lines:before, .header__toggle .lines:after {
  display: inline-block;
  width: 30px;
  height: 4px;
  background: #4ac2be;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease;
  transition: top 0.3s 0.6s ease, transform 0.3s ease;
}
.header__toggle .lines:before {
  top: 9px;
}
.header__toggle .lines:after {
  top: -9px;
}
.header__toggle .lines {
  transition: background 0.3s 0.5s ease;
}
.header__toggle .lines:before, .header__toggle .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease;
  transition: top 0.3s 0.6s ease, transform 0.3s ease;
}
.header__toggle.header__toggle--x {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.header__toggle.header__toggle--x .lines {
  transition: background .3s 0s ease;
  background: transparent;
}
.header__toggle.header__toggle--x .lines:before, .header__toggle.header__toggle--x .lines:after {
  transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease;
  transition: top 0.3s ease, transform 0.3s 0.5s ease;
  top: 0;
  width: 30px;
  background: #4ac2be;
}
.header__toggle.header__toggle--x .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.header__toggle.header__toggle--x .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

/*
 * Admin bar
 */
body.logged-in.admin-bar .header.header--show {
  top: 32px;
}

/**
 * Mobile
 */
@media screen and (max-width: 769px) {
  .header {
    height: 75px;
  }
  .header .container {
    height: 75px;
  }

  .header__toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .header__menu {
    width: 100%;
    position: absolute;
    left: 0;
    top: 75px;
    z-index: 99;
    background-color: #2b2e33;
    text-align: left;
    height: 0;
    -webkit-transition: height 200ms ease-in-out;
    -moz-transition: height 200ms ease-in-out;
    -o-transition: height 200ms ease-in-out;
    transition: height 200ms ease-in-out;
  }
  .header__menu ul {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
  }
  .header__menu li {
    width: 100%;
    float: left;
    padding: 15px 20px;
  }
  .header__menu li:last-of-type {
    padding-right: 20px;
  }
  .header__menu.header__menu--show {
    height: auto;
  }
  .header__menu.header__menu--show ul {
    opacity: 1;
    visibility: visible;
  }
}
/**
 * App (Wrapper)
 */
#app {
  position: relative;
}
#app.app--modal-overlay:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
}

/**
 * Content
 */
#main {
  padding: 100px 0;
}

#content {
  position: relative;
  width: 100%;
}

.section--vh {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 200px);
}
.section--vh > .container {
  height: 100%;
  min-height: calc(100vh - 200px);
  position: relative;
}

.content--full {
  width: 100%;
  height: 100%;
}

.content-rte p:empty {
  display: none;
}
.content-rte a {
  color: #4ac2be;
}
.content-rte a:hover {
  color: #31a9a5;
}
.content-rte ul, .content-rte ol {
  font-size: 21px;
}
.content-rte ul li, .content-rte ol li {
  margin-bottom: 10px;
}
.content-rte ol {
  padding-left: 25px;
}
.content-rte ul {
  padding-left: 15px;
}
.content-rte ul li {
  position: relative;
}
.content-rte ul li:before {
  width: 5px;
  height: 5px;
  content: '';
  position: absolute;
  left: -15px;
  top: 11px;
  background-color: #000;
}
.content-rte ul.ul-primary li:before {
  color: #4ac2be;
}
.content-rte ul.ul-secondary li:before {
  color: #ffca61;
}

@media screen and (max-width: 767px) {
  .content-rte ul li:before {
    top: 9px;
  }
}
/**
 * Section(s)
 */
.section--xsmall {
  margin: 25px 0;
}

.section--small {
  margin: 40px 0;
}

.section {
  margin: 70px 0;
}

.section--large {
  margin: 90px 0;
}

.section--xlarge {
  margin: 100px 0;
}

.section--xxlarge {
  margin: 120px 0;
}

.section-padded--xsmall {
  padding-top: 25px;
  padding-bottom: 25px;
}

.section-padded--small {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-padded {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section-padded--large {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-padded--xlarge {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-padded--xxlarge {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section--float-left {
  width: 100%;
  float: left;
}

.section-divider {
  width: 100%;
  border: 1px solid #f0f0f0;
}

.section__header {
  margin-bottom: 50px;
  text-align: center;
}
.section__header.section__header--small {
  margin-bottom: 35px;
}

.section__footer {
  margin-top: 50px;
  text-align: enter;
}
.section__footer.section__footer--small {
  margin-top: 40px;
}

/**
 * Articles
 */
/**
 * Iframe container
 */
.iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * Reponsive container
 */
.responsive-container, .hero {
  position: relative;
  width: 100%;
}

.responsive-container img,
.responsive-img {
  width: 100%;
  height: auto;
}

/*
 * Posts
 */
.post {
  width: 100%;
  float: left;
  padding: 30px 0;
  position: relative;
}
.post:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 55%;
  height: 2px;
  background-color: #f0f0f0;
  -webkit-transition: width 200ms ease-in-out;
  -moz-transition: width 200ms ease-in-out;
  -o-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
}
.post:hover:after {
  width: 100%;
}
.post:hover .post__title {
  color: #4ac2be;
}

.post + .post {
  margin-top: 30px;
}

.post__title {
  margin: 0;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}
.post__title:hover ~ .post:after {
  width: 100%;
}

.post__excerpt {
  margin-bottom: 0;
}

/*
 * Screen reader text
 */
.screen-reader-text {
  position: absolute !important;
  left: -999em;
}

/*
 * Post Navigation
 */
.nav-links .fa-angle-right {
  margin-left: 5px;
}
.nav-links .fa-angle-left {
  margin-right: 5px;
}

.nav-previous,
.nav-next {
  width: 50%;
  font-weight: 700;
  text-transform: uppercase;
}
.nav-previous i,
.nav-next i {
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}
.nav-previous:hover i,
.nav-next:hover i {
  color: #4ac2be;
}

.nav-previous {
  float: left;
  text-align: left;
}

.nav-next {
  float: right;
  text-align: right;
}

/*
 * Single
 */
.post-content {
  margin-bottom: 100px;
}

.header--single {
  margin-bottom: 50px;
}

.hero {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.hero--with-bg {
  color: #fff;
}

.hero--short {
  height: auto;
  padding-top: 150px;
}
.hero--short .hero__inner {
  left: auto;
  top: auto;
  position: relative;
  margin: 0 auto;
  z-index: 15;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.hero__bg {
  width: auto;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.hero__inner {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  padding-top: 100px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.btn {
  height: 50px;
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: 17px 25px;
  -webkit-transition: background 200ms ease-in-out, color 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out, color 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out, color 200ms ease-in-out;
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
}
.btn.btn--primary {
  background-color: #4ac2be;
  color: #fff;
}
.btn.btn--primary:hover {
  background-color: #31a9a5;
}
.btn.btn--secondary {
  background-color: #4ac2be;
}
.btn.btn--secondary:hover {
  background-color: #31a9a5;
}

/**
 * Variables
 */
form {
  margin: 0;
}

input, select, textarea {
  border: 2px solid #f0f0f0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
input:focus, select:focus, textarea:focus {
  outline: none;
  border: 2px solid #4ac2be;
}

input, select {
  height: 50px;
  padding: 0 10px;
}

textarea {
  height: auto;
  padding: 10px;
}

input[type=submit] {
  border: none;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 800;
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #4ac2be;
}
input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active {
  background-color: #31a9a5;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #b4b4b5;
}

label {
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

/**
 * Gravity forms styles
 */
.gform_wrapper {
  max-width: 100% !important;
}
.gform_wrapper h3.gform_title {
  font-size: 34px !important;
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.02px !important;
  font-weight: 500 !important;
}
.gform_wrapper input,
.gform_wrapper select,
.gform_wrapper textarea {
  font-weight: 300;
  background-color: #f5f5f1;
  border: 1px solid #f5f5f1;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: border 200ms ease-in-out;
  -moz-transition: border 200ms ease-in-out;
  -o-transition: border 200ms ease-in-out;
  transition: border 200ms ease-in-out;
}
.gform_wrapper input:focus,
.gform_wrapper select:focus,
.gform_wrapper textarea:focus {
  border-color: #4ac2be;
}
.gform_wrapper textarea {
  padding: 10px 20px !important;
}
.gform_wrapper input[type=text],
.gform_wrapper input[type=url],
.gform_wrapper input[type=email],
.gform_wrapper input[type=tel],
.gform_wrapper input[type=number],
.gform_wrapper input[type=password],
.gform_wrapper select {
  height: 50px;
  padding: 0 20px !important;
}
.gform_wrapper input.large,
.gform_wrapper select.large,
.gform_wrapper textarea.large {
  width: 100% !important;
}
.gform_wrapper input.medium,
.gform_wrapper select.medium,
.gform_wrapper textarea.medium {
  width: 50% !important;
}
.gform_wrapper input[type=file] {
  height: auto;
  border: none;
  background-color: transparent;
}
.gform_wrapper input.datepicker {
  width: 200px !important;
}
.gform_wrapper li.gfield {
  margin-bottom: 0 !important;
}
.gform_wrapper li.gfield + li.gfield {
  margin-top: 20px !important;
}
.gform_wrapper .gfield_label {
  margin: 0 !important;
  font-size: 16px;
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  font-weight: 500 !important;
}
.gform_wrapper .ginput_container span > label,
.gform_wrapper .gfield_description {
  font-size: 14px !important;
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 300;
  color: #555;
}
.gform_wrapper .gfield_description {
  margin-bottom: 5px !important;
}
.gform_wrapper .ginput_container span > label {
  margin: 0 !important;
  letter-spacing: 0 !important;
}
.gform_wrapper .ginput_container span > label + input,
.gform_wrapper .ginput_container span > label + select {
  margin-top: 5px !important;
}
.gform_wrapper .ginput_complex > span {
  display: block;
}
.gform_wrapper .ginput_complex > span + span {
  margin-top: 10px !important;
}
.gform_wrapper .ginput_complex input[type=text] {
  margin-bottom: 0 !important;
}
.gform_wrapper .has_prefix.has_first_name.no_middle_name.has_last_name.no_suffix .name_prefix.name_prefix_select {
  width: 80px !important;
  margin-left: 0 !important;
}
.gform_wrapper .has_prefix.has_first_name.no_middle_name.has_last_name.no_suffix .name_prefix.name_prefix_select select,
.gform_wrapper .has_prefix.has_first_name.no_middle_name.has_last_name.no_suffix .name_prefix.name_prefix_select input {
  width: 100% !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}
.gform_wrapper .has_prefix.has_first_name.no_middle_name.has_last_name.no_suffix .name_first {
  padding-left: 5px !important;
}
.gform_wrapper .has_prefix.has_first_name.no_middle_name.has_last_name.no_suffix .name_first,
.gform_wrapper .has_prefix.has_first_name.no_middle_name.has_last_name.no_suffix .name_last {
  width: calc(50% - 45px) !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-top: 0 !important;
}
.gform_wrapper .has_first_name.no_middle_name.has_last_name.no_suffix .name_first,
.gform_wrapper .has_first_name.no_middle_name.has_last_name.no_suffix .name_last {
  width: calc(50% - 5px) !important;
}
.gform_wrapper .has_first_name.no_middle_name.has_last_name.no_suffix .name_first input,
.gform_wrapper .has_first_name.no_middle_name.has_last_name.no_suffix .name_last input {
  width: 100% !important;
}
.gform_wrapper .has_first_name.no_middle_name.has_last_name.no_suffix .name_first {
  padding-right: 5px !important;
  margin-right: 0 !important;
}
.gform_wrapper .has_first_name.no_middle_name.has_last_name.no_suffix .name_last {
  padding-left: 5px !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
}
.gform_wrapper .ginput_complex.ginput_container .ginput_full input[type=text],
.gform_wrapper .ginput_complex.ginput_container .ginput_full input[type=url],
.gform_wrapper .ginput_complex.ginput_container .ginput_full input[type=email],
.gform_wrapper .ginput_complex.ginput_container .ginput_full input[type=tel],
.gform_wrapper .ginput_complex.ginput_container .ginput_full input[type=number],
.gform_wrapper .ginput_complex.ginput_container .ginput_full input[type=password] {
  width: 100% !important;
}
.gform_wrapper .ginput_complex.ginput_container .ginput_left,
.gform_wrapper .ginput_complex.ginput_container .ginput_right {
  width: calc(50% - 5px) !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.gform_wrapper .ginput_complex.ginput_container .ginput_left input,
.gform_wrapper .ginput_complex.ginput_container .ginput_left select,
.gform_wrapper .ginput_complex.ginput_container .ginput_right input,
.gform_wrapper .ginput_complex.ginput_container .ginput_right select {
  width: 100% !important;
}
.gform_wrapper .ginput_complex.ginput_container .ginput_left {
  margin-right: 10px !important;
}
.gform_wrapper .gfield_radio {
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.gform_wrapper .gfield_radio li {
  position: relative;
}
.gform_wrapper .gfield_radio li input[type=radio] {
  display: none;
}
.gform_wrapper .gfield_radio li label:before {
  width: 14px;
  height: 14px;
  content: '';
  position: absolute;
  top: 8px;
  left: 2px;
  border: 1px solid #555;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.gform_wrapper .gfield_radio li label {
  font-weight: 300 !important;
  position: relative;
  padding: 0 0 0 24px !important;
  margin: 0 !important;
}
.gform_wrapper .gfield_radio li input[type=radio]:checked + label:after {
  width: 8px;
  height: 8px;
  content: '';
  position: absolute;
  left: 5px;
  top: 11px;
  background-color: #4ac2be;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.gform_wrapper .gfield_checkbox {
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.gform_wrapper .gfield_checkbox li {
  position: relative;
}
.gform_wrapper .gfield_checkbox li input[type=checkbox] {
  display: none;
}
.gform_wrapper .gfield_checkbox li label {
  font-weight: 300 !important;
  position: relative;
  padding: 0 0 0 24px !important;
  margin: 0 !important;
}
.gform_wrapper .gfield_checkbox li label:before {
  width: 14px;
  height: 14px;
  content: '';
  position: absolute;
  top: 8px;
  left: 2px;
  border: 1px solid #555;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.gform_wrapper .gfield_checkbox li input[type=checkbox]:checked + label:after {
  content: '\f00c';
  position: absolute;
  top: 1px;
  left: 3px;
  color: #4ac2be;
  font-family: "FontAwesome", FontAwesome;
  font-size: 16px;
}
.gform_wrapper input[type=submit] {
  height: 60px;
  padding: 0 25px;
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: 500;
  cursor: pointer;
  background-color: #000;
  color: #4ac2be;
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
}
.gform_wrapper input[type=submit]:focus, .gform_wrapper input[type=submit]:active {
  outline: none;
  color: #4ac2be;
}
.gform_wrapper .form--btn-light {
  background-color: #fff;
}
.gform_wrapper div.validation_error {
  border-top: none !important;
  border-bottom: none !important;
  padding: 0 !important;
  width: 100% !important;
  font-size: 18px !important;
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300 !important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
  margin: 0 !important;
  border: none !important;
  background-color: transparent !important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
  max-width: 100% !important;
}
.gform_wrapper .top_label .gfield_error {
  width: 100% !important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required fieldset legend.gfield_label {
  margin-left: 0 !important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.validation_message {
  font-family: "brandon-grotesque", "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300 !important;
}

/**
 * GF 1 - _footer.scss
 */
/**
 * GF Mobile
 */
@media screen and (max-width: 767px) {
  .gform_wrapper .ginput_complex input[type=text],
  .gform_wrapper .ginput_complex input[type=url],
  .gform_wrapper .ginput_complex input[type=email],
  .gform_wrapper .ginput_complex input[type=tel],
  .gform_wrapper .ginput_complex input[type=number],
  .gform_wrapper .ginput_complex input[type=password] {
    width: 100% !important;
  }
  .gform_wrapper input.medium,
  .gform_wrapper select.medium,
  .gform_wrapper textarea.medium {
    width: 100% !important;
  }
  .gform_wrapper .has_prefix.has_first_name.no_middle_name.has_last_name.no_suffix .name_prefix.name_prefix_select {
    width: 100px !important;
    margin-left: 0 !important;
  }
  .gform_wrapper .has_prefix.has_first_name.no_middle_name.has_last_name.no_suffix .name_first,
  .gform_wrapper .has_prefix.has_first_name.no_middle_name.has_last_name.no_suffix .name_last {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 5px !important;
  }
  .gform_wrapper .has_first_name.no_middle_name.has_last_name.no_suffix .name_first,
  .gform_wrapper .has_first_name.no_middle_name.has_last_name.no_suffix .name_last {
    width: 100% !important;
  }
  .gform_wrapper .has_first_name.no_middle_name.has_last_name.no_suffix .name_first input[type=text],
  .gform_wrapper .has_first_name.no_middle_name.has_last_name.no_suffix .name_last input[type=text] {
    width: 100% !important;
  }
  .gform_wrapper .has_first_name.no_middle_name.has_last_name.no_suffix .name_first,
  .gform_wrapper .has_first_name.no_middle_name.has_last_name.no_suffix .name_last {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .gform_wrapper .ginput_complex .ginput_cardextras .ginput_cardinfo_left {
    width: 75% !important;
  }
  .gform_wrapper .ginput_complex .ginput_cardextras .ginput_cardinfo_right {
    clear: both;
    width: 55% !important;
  }
  .gform_wrapper .ginput_complex .ginput_full .ginput_cardinfo_right input.ginput_card_security_code {
    max-width: 100% !important;
    width: calc(100% - 40px) !important;
  }
}
ol.comment-list {
  list-style-type: none;
  padding-left: 0;
}

li.comment {
  width: 100%;
  padding: 0 0 0 20px;
  border-left: 2px solid #f0f0f0;
  margin-bottom: 30px;
}

a.comment-reply-link,
a.comment-edit-link {
  color: #4ac2be;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}

ol.children {
  list-style-type: none;
  padding-left: 20px;
}
ol.children li {
  margin-top: 20px;
  margin-bottom: 0;
}

.comment-meta {
  width: 100%;
  float: left;
}
.comment-meta img.avatar {
  border-radius: 50%;
  float: left;
}

.comment-author b.fn {
  margin-left: 15px;
  font-size: 16px;
}

.comment-metadata time {
  margin-left: 15px;
}

span.edit-link {
  margin-left: 5px;
}
span.edit-link:hover {
  color: #31a9a5;
}

.comment-content {
  width: 100%;
  float: left;
  clear: both;
}

.comment-respond {
  margin: 50px 0 150px;
}

p.comment-form-comment label {
  display: block;
}

/*
 * CTA
 */
.cta {
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .cta + .cta {
    margin-top: 30px;
  }
}
.footer {
  padding: 30px 0;
  background-color: #12151a;
}

.modal {
  width: 80%;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 37px 10px rgba(0, 0, 0, 0.13);
  padding: 60px;
}
.modal.modal--padded .modal__content {
  padding: 55px 75px;
}

.modal__header {
  padding: 40px 60px;
  width: 100%;
}

.modal__content {
  width: 100%;
  padding: 45px;
}

.modal__body {
  position: relative;
  padding-left: 40px;
}

.modal__footer {
  width: 100%;
  border-top: 1px solid #f0f0f0;
  padding: 25px;
  text-align: center;
}

/**
 * Modal Close
 */
.modal--close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px;
  height: 25px;
  font-size: 24px;
  text-align: center;
  color: white;
  cursor: pointer;
  color: #ffca61;
}
.modal--close:hover {
  color: #e6b148;
}

/**
 * Modules - App specific
 */
/*
 * Work grid
 */
.dog {
  width: 25%;
  height: 250px;
  float: left;
  padding: 0 20px;
  background-color: #45484d;
  color: #fff;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.dog .inner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* transition */
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  -moz-transition: opacity 150ms ease-in-out;
  -o-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}
.dog:hover .inner {
  opacity: 1;
}
.dog:hover .dog__sep {
  width: 50px;
}
.dog:hover .dog__bg:before {
  opacity: 1;
}

.dog__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.dog__bg img {
  width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: cover;
}
.dog__bg:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.dog__title {
  margin: 0;
}

.dog__desc {
  margin: 0;
  font-style: italic;
}

.dog__sep {
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  margin: 10px auto;
  -webkit-transition: width 150ms ease-in-out;
  -moz-transition: width 150ms ease-in-out;
  -o-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}

@media screen and (max-width: 767px) {
  .dog {
    width: 100%;
  }
  .dog .inner {
    opacity: 1;
  }
  .dog .work__sep {
    width: 50px;
  }
}
/**
 * Modules - Media Queries
 */
/**
 * Compatibility
 */
