


	@@include("../partials/modals.tpl.html")  


	</div><!-- #app -->


	<!-- jQuery CDN or localhost fallback -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="components/jquery/dist/jquery.min.js"><\/script>')</script>



	<!-- Bower Components -->
	<!-- <script src="assets/js/components.min.js"></script> -->

	<!-- Simple Plugins and main Application JS -->
	<!-- <script src="assets/js/plugins.js"></script> -->
	<script src="assets/js/app.js"></script>
		

 
</body>
</html>