// _content.scss

/**
 * App (Wrapper)
 */
#app {
  position: relative;

  &.app--modal-overlay {
    
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.7);
      z-index: 20;
    }
  }
}

/**
 * Content
 */
#main {
  padding: 100px 0;
  
}

#content {
  position: relative;
  width: 100%;
}

.section--vh {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 200px);

  > .container {
    height: 100%;
    min-height: calc(100vh - 200px);
    position: relative;
  }
}

  .content--full { width: 100%; height: 100%; }

  .content-rte {
    p:empty {
      display: none;
    }

    a {
      color: $color-primary;

      &:hover {
        color: $color-primary-dark;
      }
    }


    // ul, li
    ul, ol {
      font-size: 21px;
  
      li {
        margin-bottom: 10px;
      }
    }

    ol {
      padding-left: 25px;

    }

    ul {
      padding-left: 15px;

      li {
        position: relative;

        &:before {
          width: 5px;
          height: 5px;
          content: '';
          position: absolute;
          left: -15px;
          top: 11px;
          background-color: #000;
        }
      }
      
      &.ul-primary {
        li:before { color: $color-primary; }
      }

      &.ul-secondary {
        li:before { color: $color-secondary; }
      }
    }
  }

@include media(767px) {
  .content-rte {
    ul {
      li:before {
        top: 9px;
      }
    }
  }
}

/**
 * Section(s)
 */
section {}

  .section--xsmall          { margin: 25px 0; }
  .section--small           { margin: 40px 0; }
  .section                  { margin: 70px 0; }
  .section--large           { margin: 90px 0; }
  .section--xlarge          { margin: 100px 0; }
  .section--xxlarge         { margin: 120px 0; }
  
  .section-padded--xsmall   { padding-top: 25px; padding-bottom: 25px; }
  .section-padded--small    { padding-top: 40px; padding-bottom: 40px; }
  .section-padded           { padding-top: 70px; padding-bottom: 70px; }
  .section-padded--large    { padding-top: 90px; padding-bottom: 90px; }
  .section-padded--xlarge   { padding-top: 100px; padding-bottom: 100px; }
  .section-padded--xxlarge  { padding-top: 120px; padding-bottom: 120px; }

  .section--float-left      { width: 100%; float: left; }

  .section-divider { 
    width: 100%;
    border: 1px solid $color-offwhite; 
  }

  .section__header {
    margin-bottom: 50px;
    text-align: center;

    &.section__header--small { margin-bottom: 35px } 
  }

  .section__footer {
    margin-top: 50px;
    text-align: enter;

    &.section__footer--small { margin-top: 40px } 
  }
    

/**
 * Articles
 */
article {}





/**
 * Iframe container
 */
.iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



/**
 * Reponsive container
 */
.responsive-container, %responsive-container {
  position: relative;
  width: 100%;
}

.responsive-container img,
.responsive-img {
  width: 100%;
  height: auto;
}




/*
 * Posts
 */
.post {
  width: 100%;
  float: left;
  padding: 30px 0;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 55%;
    height: 2px;
    background-color: $color-offwhite;
    @include transition(width 200ms ease-in-out);
  }

  &:hover {
    &:after {
      width: 100%;
    }

    .post__title {
      color: $color-primary;
    }
  }
}

.post + .post {
  margin-top: 30px;
}

.post__title {
  margin: 0;
  @include transition(color 200ms ease-in-out);

  &:hover ~ .post:after {
    width: 100%;
  }
}
.post__excerpt {
  margin-bottom: 0;
}


/*
 * Screen reader text
 */
.screen-reader-text {
  position: absolute !important;
  left: -999em;
}

/*
 * Post Navigation
 */
.nav-links {

  .fa-angle-right {
    margin-left: 5px;
  }
  .fa-angle-left {
    margin-right: 5px;
  }
}
.nav-previous,
.nav-next {
  width: 50%;
  font-weight: 700;
  text-transform: uppercase;
  
  i {
    @include transition(color 200ms ease-in-out);
  }  

  &:hover {
    i {
      color: $color-primary;
    }
  }
}
.nav-previous {
  float: left;
  text-align: left;
}
.nav-next {
  float: right;
  text-align: right;
}

/*
 * Single
 */
.post-content {
  margin-bottom: 100px;
}
.header--single {
  margin-bottom: 50px;
}

