// _dogs.scss


/*
 * Work grid
 */
.dog-grid {

}

	.dog {
		width: 25%;
		height: 250px;
		float: left;
		padding: 0 20px;
		background-color: $color-gray-light;
		color: #fff;
		position: relative;
		text-align: center;
		cursor: pointer;

		.inner {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			@include transform(translateY(-50%));

			/* transition */
			opacity: 0;
			@include transition(opacity 150ms ease-in-out);
		}

		&:hover {
			.inner {
				opacity: 1;
			}

			.dog__sep {
				width: 50px;
			}

			.dog__bg:before {
				opacity: 1;
			}
		}
	}

		.dog__bg {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;

			img {
				width: 100%;
				height: auto;
				min-height: 100%;
				object-fit: cover;
			}

			&:before {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: rgba(0,0,0,.3);
				opacity: 0;
				@include transition(opacity 200ms ease-in-out);
			}
		}

		.dog__title {
			margin: 0;
		}
		.dog__desc {
			margin: 0;
			font-style: italic;
		}
		.dog__sep {
			display: block;
			width: 0;
			height: 2px;
			background-color: #fff;
			margin: 10px auto;
			@include transition(width 150ms ease-in-out);
		}


@include media(767px) {
	.dog {
		width: 100%;

		.inner {
			opacity: 1;
		}
		.work__sep {
			width: 50px;
		}
	}
}