// _forms.scss



/**
 * Variables
 */
$input : (
  height: 50px,
  height-large: 70px,
);


form {
  margin:0;
}

input, select, textarea {
  border: 2px solid $color-offwhite;
  @include transition(all 200ms ease-in-out);

  &:focus {
    outline: none;
    border: 2px solid $color-primary;
  }
}
input, select {
  height: map-get($input, height);
  padding: 0 10px;
}
textarea {
  height: auto;
  padding: 10px;
}

input[type=submit] {
  border: none;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 800;
  font-family: $font-default;
  text-transform: uppercase;
  color: #fff;
  background-color: $color-primary;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-primary-dark;
  }
}

// Placeholder
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder { 
  color: #b4b4b5;
}

label {
  font-family: $font-default;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}







/**
 * Gravity forms styles
 */
.gform_wrapper {
  max-width: 100% !important;

  h3.gform_title {
    font-size: 34px !important;
    font-family: $font-default;
    text-transform: uppercase;
    letter-spacing: 1.02px !important;
    font-weight: 500 !important;
  }

  // elements
  input,
  select,
  textarea {
    font-weight: 300;
    background-color: #f5f5f1;
    border: 1px solid #f5f5f1;
    -webkit-appearance: none;
    @include border-radius(2px);
    @include transition(border 200ms ease-in-out);

    &:focus {
      border-color: $color-primary;
    }
  }

  textarea {
    padding: 10px 20px !important;
  }

  input[type=text],
  input[type=url],
  input[type=email],
  input[type=tel],
  input[type=number],
  input[type=password],
  select {
    height: map-get($input, height);
    padding: 0 20px !important;
    // font-weight: 300;
  }

  input.large,
  select.large,
  textarea.large {
    width: 100% !important;
  }

  input.medium,
  select.medium,
  textarea.medium {
    width: 50% !important;
  }

  input[type=file] {
    height: auto;
    border: none;
    background-color: transparent;
  }

  input.datepicker {
    width: 200px !important;
  }



  // li.gfield
  li.gfield {
    margin-bottom: 0 !important;

  }
  li.gfield + li.gfield {
    margin-top: 20px !important;
  }

  // label
  .gfield_label {
    margin: 0 !important;
    font-size: 16px;
    font-family: $font-default;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    font-weight: 500 !important;
  }

  // sublabel, description
  .ginput_container span > label,
  .gfield_description {
    font-size: 14px !important;
    font-family: $font-default !important;
    font-weight: 300;
    color: #555;
  }
  .gfield_description {
    margin-bottom: 5px !important;
  }
  
  .ginput_container span {
    > label {
      margin: 0 !important;
      letter-spacing: 0 !important;
    }
    > label + input,
    > label + select {
      margin-top: 5px !important;
    }
  }

  // ginput complex
  .ginput_complex {
    > span {
      display: block;
    }
    > span + span {
      margin-top: 10px !important;
    }
  }
  
  .ginput_complex input[type=text] {
    margin-bottom: 0 !important;
  }

  // Name
  // Prefix, First, Last
  .has_prefix.has_first_name.no_middle_name.has_last_name.no_suffix {
    .name_prefix.name_prefix_select {
      width: 80px !important;
      margin-left: 0 !important;

      select,
      input {
        width: 100% !important;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
      }
    }
    .name_first {
      padding-left: 5px !important;
    }
    .name_first,
    .name_last {
      width: calc(50% - 45px) !important;
      margin-top: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding-top: 0 !important;
    }
  }
  // First, Last
  .has_first_name.no_middle_name.has_last_name.no_suffix {
    .name_first,
    .name_last {
      width: calc(50% - 5px) !important;

      input {
        width: 100% !important;
      }
    }
    .name_first {
      padding-right: 5px !important;
      margin-right: 0 !important;
    }
    .name_last {
      padding-left: 5px !important;
      margin-left: 0 !important;
      margin-top: 0 !important;
    }
  }

  // Address
  .ginput_complex.ginput_container {

    .ginput_full {
      input[type=text],
      input[type=url],
      input[type=email],
      input[type=tel],
      input[type=number],
      input[type=password] {
        width: 100% !important;
      }
    }

    .ginput_left,
    .ginput_right {
      width: calc(50% - 5px) !important;
      margin-left: 0 !important;
      margin-right: 0 !important;

      input,
      select {
        width: 100% !important;
      }
    }
    .ginput_left {
      margin-right: 10px !important;
    }
  }

  // Radio
  .gfield_radio {
    font-family: $font-default;

    li {
      position: relative;

      input[type=radio] {
        display: none;
      }

      label:before {
        width: 14px;
        height: 14px;
        content: '';
        position: absolute;
        top: 8px;
        left: 2px;
        border: 1px solid #555;
        @include border-radius(50%);
      }

      label {
        font-weight: 300 !important;
        position: relative;
        padding: 0 0 0 24px !important;
        margin: 0 !important;
      }

      input[type=radio]:checked + label:after {
        width: 8px;
        height: 8px;
        content: '';
        position: absolute;
        left: 5px;
        top: 11px;
        background-color: $color-primary;
        @include border-radius(50%);
      }
    }
  }

  // Checkboxes
  .gfield_checkbox {
    font-family: $font-default;

    li {
      position: relative;

      input[type=checkbox] {
        display: none;
      }

      label {
        font-weight: 300 !important;
        position: relative;
        padding: 0 0 0 24px !important;
        margin: 0 !important;
      }

      label:before {
        width: 14px;
        height: 14px;
        content: '';
        position: absolute;
        top: 8px;
        left: 2px;
        border: 1px solid #555;
        @include border-radius(2px);
      }

      input[type=checkbox]:checked + label:after {
        content: '\f00c';
        position: absolute;
        top: 1px;
        left: 3px;
        color: $color-primary;
        font-family: $fa;
        font-size: 16px;
      }
    }
  }

  // Credit card
  .ginput_complex .ginput_full {
    .gform_card_icon_container ~ input[type=text] {
      // width: 50% !important;
    }
    &.ginput_cardextras + .ginput_full {
      input[type=text] {
        // width: 50% !important;
      }
    }
  }

  // Submit
  input[type=submit] {
    height: 60px;
    padding: 0 25px;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: 500;
    cursor: pointer;
    background-color: #000;
    color: $color-primary;
    font-family: $font-default;
    border: none;

    &:focus,
    &:active {
      outline: none;
      color: $color-primary;
    }
  }

  // White submit button
  .form--btn-light {
    background-color: #fff;
  }


  // Validation
  div.validation_error {
    border-top: none !important;
    border-bottom: none !important;
    padding: 0 !important;
    width: 100% !important;
    font-size: 18px !important;
    font-family: $font-default;
    font-weight: 300 !important;
  }
  li.gfield.gfield_error.gfield_contains_required {
    margin: 0 !important;
    border: none !important;
    background-color: transparent !important;
  }
  li.gfield.gfield_error.gfield_contains_required div.ginput_container {
    max-width: 100% !important;
  }

  .top_label .gfield_error {
    width: 100% !important;
  }

  li.gfield.gfield_error.gfield_contains_required div.ginput_container, 
  li.gfield.gfield_error.gfield_contains_required div.gfield_description, 
  li.gfield.gfield_error.gfield_contains_required label.gfield_label, 
  li.gfield.gfield_error.gfield_contains_required fieldset legend.gfield_label {
    margin-left: 0 !important;
  }

  li.gfield.gfield_error.gfield_contains_required div.validation_message {
    font-family: $font-default;
    font-weight: 300 !important;
  }
}



/**
 * GF 1 - _footer.scss
 */




/**
 * GF Mobile
 */
@include media(767px) {
  .gform_wrapper {
    .ginput_complex input[type=text],
    .ginput_complex input[type=url],
    .ginput_complex input[type=email],
    .ginput_complex input[type=tel],
    .ginput_complex input[type=number],
    .ginput_complex input[type=password] {
      width: 100% !important;
    }
  
    input.medium,
    select.medium,
    textarea.medium {
      width: 100% !important;
    }

    // Name
    // Prefix, First, Last
    .has_prefix.has_first_name.no_middle_name.has_last_name.no_suffix {
      .name_prefix.name_prefix_select {
        width: 100px !important;
        margin-left: 0 !important;
      }
      .name_first,
      .name_last {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: 5px !important;
      }
    }
    // First, Last
    .has_first_name.no_middle_name.has_last_name.no_suffix {
      .name_first,
      .name_last {
        width: 100% !important;

        input[type=text] {
          width: 100% !important;
        }
      }
      .name_first,
      .name_last {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    // Credit card
    .ginput_complex .ginput_cardextras {
      .ginput_cardinfo_left {
        width: 75% !important;
      }
      .ginput_cardinfo_right {
        clear: both;
        width: 55% !important;
      }
    }
    .ginput_complex .ginput_full .ginput_cardinfo_right input.ginput_card_security_code {
      max-width: 100% !important;
      width: calc(100% - 40px) !important;
    }
  }
}
