/**
 * Components 
 *
 * @note - use this rather than components.min.css to maintain relative paths
 */
@import "../components/font-awesome/css/font-awesome.min.css";
// @import "../../components/animate/animate.min.css";

  
/**
 * Functions & Mixins 
 */
@import "mixins";


/**
 * Config 
 */ 
@import "config";


/** 
 * Libraries
 */
@import "lib/grid"; 

  
/**
 * Modules - Core
 */
@import "modules/helpers",
        "modules/plugins",
        "modules/fonts",
        "modules/animations";
 

/**
 * Modules - Components
 */
@import "modules/body",
        "modules/menu",
        "modules/header",
        "modules/content",
        "modules/hero",
        "modules/buttons",
        "modules/slider",
        "modules/forms",
        "modules/comments",
        "modules/elements",
        "modules/footer",
        "modules/modals";


/**
 * Modules - App specific
 */
 @import "modules/dogs";
 

/**
 * Modules - Media Queries
 */
@import "modules/mobile";


/**
 * Compatibility
 */
@import "compatibility/browser";