// _helpers.scss



/**
 * Generate Padding/Margin Helpers
 */
@for $i from 0 through 150 {
  @if $i % 10 == 0 {
    // Margins
    .m#{$i}  { margin:#{$i}px !important; }
    .mt#{$i} { margin-top:#{$i}px !important; }
    .mr#{$i} { margin-right:#{$i}px !important; }
    .mb#{$i} { margin-bottom:#{$i}px !important; }
    .ml#{$i} { margin-left:#{$i}px !important; }

    // Padding
    .p#{$i}  { padding:#{$i}px !important; }
    .pt#{$i} { padding-top:#{$i}px !important; }
    .pr#{$i} { padding-right:#{$i}px !important; }
    .pb#{$i} { padding-bottom:#{$i}px !important; }
    .pl#{$i} { padding-left:#{$i}px !important; }
  }
}

@include media(mobile) {
  .mt50--mobile { margin-top: 50px; }
  .mb50--mobile { margin-top: 50px; }
  .mt30--mobile { margin-top: 30px; }
  .mb30--mobile { margin-top: 30px; }
}


/**
 * Generate Rotate Helpers
 */
@for $i from 0 through 360 {
  @if $i % 10 == 0 {
    .rotate#{$i}  { transform: rotate(#{$i}deg); }
  }
}